<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net462" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net462" />
  <package id="Oracle.DataAccess.x86.4" version="4.112.3" targetFramework="net462" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0.0" targetFramework="net462" />
</packages>